.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0 0 32px 0;
}

.form__fieldset:last-of-type {
  padding: 0;
}

.form__input {
  border-radius: 4px;
  max-width: 385px;
  height: 60px;
  margin: 0;
  padding: 10px;
  font-size: 20px;
  line-height: 20px;
  color: #838383;
  border-color: #838383;
  box-sizing: border-box;
  border-width: 1px;
}

.form__label {
  margin: 0;
  padding: 32px 0 8px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label:first-of-type {
  padding-top: 0px;
}

.form__button {
  border-radius: 4px;
  opacity: 100%;
  transition: opacity 0.25s ease-in-out;
  width: 385px;
  height: 60px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  border: none;
  color: white;
  background-color: #2f80ed;
}

.form__button:hover {
  transition: 0.5s ease-in-out;
  opacity: 0.7;
  cursor: pointer;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.form__label_type_checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
