.menu {
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.menu__title {
  margin: 0;
  padding: 100px 0 24px 0;
  max-width: 780px;
  display: flex;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  margin: 0;
  padding: 0;
  max-width: 780px;
  text-align: center;
  display: flex;
  font-family: "Noto Serif", "Times New Roman, serif";
  font-size: 20px;
  line-height: 30px;
}
